<div class="col-12 block-center">
  <h1>User info</h1>
  <% if @user.errors.any? %>
    <%= @user.errors.count %> error prohibited this obj from being saved:
    <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @user do |f| %>
    <p class="mb-1">Name</p>
    <%= f.text_field :name %>
    <p class="mt-2 mb-1">Image</p>
    <%= f.file_field :profile_image %>
    <p class="mt-2 mb-1">Introduction</p>
    <%= f.text_area :introduction %><br>
    <input class="btn btn-secondary mt-2" type="submit" value="Update User">
  <% end %>
</div>

